@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Raleway:wght@300;400&display=swap');

/* -------------------------------------------------------------------- Variables */

:root {
    --sample-color: #fff000;
    --sample-color-2: #f0000f;
}

/* -------------------------------------------------------------------- Resets */

html {
    height: 100%;
    width: 100vw;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Nunito', sans-serif;
    height: calc(100vh - 48px);
}

p, a {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/* -------------------------------------------------------------------- Accessibility */

.tap-target {
    width: 48px;
    height: 48px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

/* -------------------------------------------------------------------- Footer */

.footer-allowance {
    padding-bottom: 48px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: url(/assets/images/image-from-rawpixel-id-2701600-jpeg.jpg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
