@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Raleway:wght@300;400&display=swap');

/* -------------------------------------------------------------------- Variables */

:root {
    --blue: #4acdf9;
    --pink: #e6007e;
    --black: #000000;
    --white: #ffffff;
    --p-color-dk: #1a1a25;
    --p-color-lt: #d8d8d8;
    --light-blue: #5DD0FA;
    --light-pink: #F7A8B9;
}

/* -------------------------------------------------------------------- Resets */

html {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--p-color-lt);
    color: var(--p-color-dk);
    font-family: 'Raleway', sans-serif;
    height: calc(100vh - 48px);
    margin: 0;
}

p,
a {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: var(--p-color-dk);
}

/* -------------------------------------------------------------------- Utilities */

.readable-width {
    max-width: 720px;
    margin: auto;
}

.section-margin {
    margin: 1.5rem 0;
}

/* -------------------------------------------------------------------- Hover / Focus */

a:hover,
a:focus {
    text-decoration: underline;
    text-decoration-color: var(--light-pink);
    text-decoration-style: double;
}

/* -------------------------------------------------------------------- Awareness */

#awareness {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: minmax(3rem, auto) repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

#awareness-title {
    font-size: 2.2rem;
    font-style: italic;
}

#awareness-title::after {
    display: block;
    content: '';
    margin: 0.5rem auto;
    height: 2px;
    width: 80%;
    background-color: var(--light-pink);
}

model-viewer {
    height: 50vh;
    width: 100%;
    pointer-events: none;
    background-color: transparent;
}

#awareness-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
}

#female-model-viewer {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}

#awareness-content-1 {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
}

#awareness-content-2 {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
}

#male-model-viewer {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
}

#awareness > article {
    font-size: 1.2rem;
    line-height: 2rem;
}

.article-content {
    margin: 1rem 3rem;
}

/* -------------------------------------------------------------------- Contact Us Page */
/* code from https://www.w3schools.com/ */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

button[type=submit] {
    background-color: #e6007e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button[type=submit]:hover {
    background-color: #e6007e;
}

/* -------------------------------------------------------------------- Accessibility */

.tap-target {
    min-width: 48px;
    min-height: 48px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* -------------------------------------------------------------------- Animations */

@keyframes logo-spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* -------------------------------------------------------------------- Header */

header {
    display: grid;
    grid-template-areas: "logo-img project-name nav-menu";
    width: 100%;
    overflow: hidden;
    background-color: var(--pink);
    align-items: center;
    justify-items: center;
}

.logo-spin img {
    grid-area: logo-img;
    width: 70px;
    margin: 0px;
    padding-left: 20px;
    animation: logo-spinner infinite 20s linear;
}

.logo {
    visibility: hidden;
    grid-area: project-name;
    margin: 10px;
}

.logo h2 {
    color: var(--white);
    margin: 0px;
    padding: 19px;
}

.menu-bar,
nav {
    grid-area: nav-menu;
}

.menu-bar {
    text-align: center;
    justify-self: right;
    margin-right: 20px;
}

.logo-spin {
    justify-self: left;
}

.bar-icon {
    display: none;
    padding-top: 8px;
}

nav {
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.overlay-content {
    grid-template-columns: repeat(5, 1fr);
}

.overlay-content li {
    text-transform: uppercase;
    text-align: center;
}

.menu a {
    text-decoration: none;
    padding: 10px 16px;
    color: var(--white);
    cursor: pointer;
    display: block;
}

.menu a:hover,
.menu a:focus {
    background-color: var(--blue);
    cursor: pointer;
}

.menu-bar,
.overlay-content hr {
    display: none;
}

/* -------------------------------------------------------------------- Footer */

.footer-allowance {
    padding-bottom: 48px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: url(../images/footer-light.jpg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

/* -------------------------------------------------------------------- Accessibility / Privacy Page */

.footer-page {
    background: var(--light-blue);
    background: linear-gradient(90deg, rgba(93, 208, 250, 1) 0%, rgba(247, 168, 185, 1) 100%);
}

/* -------------------------------------------------------------------- Media queries */

/* Non-motion styles here */
@media (prefers-reduced-motion) {
    .logo-spin img {
        animation: none;
    }
}

/* Dark mode color styles here */
@media (prefers-color-scheme: dark) {
    :root {
        --p-color-lt: #1a1a25;
        --p-color-dk: #d8d8d8;
        --light-blue: #031B68;
        --light-pink: #b82b4a;
    }

    .footer-page {
        background: var(--light-blue);
        background: linear-gradient(90deg, rgba(3, 27, 104, 1) 0%, rgba(184, 43, 74, 1) 100%);
    }

    footer {
        background: url(../images/footer-dark.jpg);
    }
}

/* -------------------------------------------------------------------- Media query */

@media only screen and (max-width: 768px) {
    .menu-bar {
        background-color: var(--blue);
        border-radius: 2px 2px 2px 2px;
        display: block;
        color: var(--white);
        width: 48px;
        height: 48px;
    }

    /* Menu slide down from the top*/
    .menu {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: var(--p-color-lt);
        overflow-y: hidden;
        transition: 0.5s;
        margin: 0;
    }

    .overlay-content {
        overflow: hidden;
        width: 100%;
        padding: 0;
        cursor: pointer;
    }

    .overlay-content li {
        display: block;
        text-align: center;
    }

    .overlay-content li:after {
        content: "";
        background: white;
        display: block;
        width: 50%;
        height: 2px;
        margin: auto;
    }

    .close-icon {
        padding-top: 8px;
    }
}

    /* Large devices (Desktop tablets, 992px and up) */
@media only screen and (min-width: 992px) {
    #awareness {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: minmax(3rem, auto) repeat(2, 1fr);
    }

    model-viewer {
        height: 60vh;
        margin: 1rem 0;
    }

    #awareness-title {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: center;
    }

    #female-model-viewer {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    
    #awareness-content-1 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    
    #awareness-content-2 {
        grid-column: 1 / 2;
        grid-row: 3 / -1;
    }
    
    #male-model-viewer {
        grid-column: 2 / 3;
        grid-row: 3 / -1;
    }

    #awareness > article {
        font-size: 1.6rem;
        line-height: 3.2rem;
    }
}

@media only screen and (min-width: 768px) {
    .overlay-content {
        display: grid;
    }
}

@media only screen and (max-width: 1040px) {
    .logo {
        width: 10px;
        height: 65px;
    }
}

@media only screen and (min-width: 1040px) {
    .logo {
        visibility: visible;
    }
}


/* -------------------------------------------------------------------- Resource styling */

    .resources-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
     }

